{% extends 'index.html' %}

{% block body %}
    <link rel="stylesheet" href='/static/bootstrap/css/div.css'>
    {% for question in questions %}
        <div class="card" style="padding-left: 10px; padding-right: 10px; margin-bottom: 10px; width: 700px; margin-left: 350px; text-align:left; background-color: white ">
        <a href="{{ url_for('detail', question_id=question.id) }}" style="color: black"><h3>{{ question.title }}</h3></a>
        <h4 style="padding-left: 10px">{{ question.content }}</h4>
        </div>
    {% endfor %}
{% endblock %}